
$bufferBorderColor: #ced7df;

.chrome-ext-emoji-picker {
  background-color: #fff;
  border: 1px solid $bufferBorderColor;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);

  box-sizing: border-box;
  display: flex;
  height: 335px;
  width: 260px;

  font-family: 'Open Sans', Helvetica, Arial, sans-serif;

  position: absolute;
  z-index: 99;

  &:focus {
    outline: none;
  }


  a {
    text-decoration: none !important;
  }

  button.contextual-btn {
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    &:focus,
    &:active {
      outline: -webkit-focus-ring-color auto 5px;
    }
  }

  .is-hidden {
    display: none !important;
  }


  /****
   * Side navigation index
   */

  .emoji-categories-list {
    border-right: 1px solid $bufferBorderColor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .emoji-categories-list li {
    box-sizing: border-box;
    font-size: 32px;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    width: 40px;
  }
  .emoji-category {
    display: block;
    filter: grayscale(1);
    opacity: .8;
    overflow: hidden;
    height: 100%;
    width: 100%;
    &:hover,
    &:focus,
    &.is-selected {
      filter: none;
      opacity: 1;
    }
  }


  /****
   * Query field box
   */

  .search-box {
    box-sizing: border-box;
    background: #f7f9fb;
    padding: 12px 6px;
  }
  .input-wrapper {
    position: relative;
  }
  .search-box input#emoji-filter {
    border: 1px solid #99CDE1;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 14px;
    height: 26px !important;
    padding: 2px !important;
    width: 100%;
    &:focus,
    &:active {
      outline: -webkit-focus-ring-color auto 5px;
    }
  }
  .search-box button.clear-input-btn {
    position: absolute;
    top: 1px; right: 2px;
    height: 24px;
    width: 24px;
    overflow: hidden;
  }


  /****
   * Emojis
   */

  .emoji-box {
    display: flex;
    flex-direction: column;
    width: 217px;
  }

  .emoji-shelf {
    overflow-y: scroll;
    position: relative;
  }
  .emoji-shelf-section {
    box-sizing: border-box;
    margin: 10px 0;
    padding: 5px 0px;
    &:last-child {
      padding-bottom: 25px;
    }
  }
  .emoji-shelf-title {
    border-bottom: 1px solid $bufferBorderColor;
    font-size: 15px;
    margin: 0 0 6px;
    padding: 0 8px;
  }

  #latest-emoji-shelf-section{
    .emoji-shelf-title {
      display: flex;
      justify-content: space-between;
      overflow: visible;
    }
    .no-emojis {
      font-size: 14px;
    }
  }

  .emojis {
    font-size: 0;
    line-height: normal;
    padding-left: 8px;
  }
  .emoji {
    box-sizing: border-box;
    display: inline-block;
    font-size: 24px;
    overflow: hidden;
    padding: 2px;
    text-align: center;
    width: 28px;
    &:hover {
      outline: -webkit-focus-ring-color auto 5px;
    }
  }
  
  &.is-window .emoji[href='#metal-emoji'],
  &.is-window .emoji[href='#lion-emoji'] {
    display: none;
  }
}
